<<<<<<< HEAD
/*estilos.css*/
=======
/* estilos.css*/
>>>>>>> 248bbcd990e8cff6ff475e1f96cbc82c0cd9ae1e
/*reset bàsico*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/*esta regla elimina los margenes y el relleno predeterminados de todos los elementos y establece el modelo de caja para incluir el relleno y el borde en el ancho y alto del elemento.*/

body{

    font-family: Arial, sans-serif;
<<<<<<< HEAD
    color: #4639a8;
=======
    color: #4630a8;
>>>>>>> 248bbcd990e8cff6ff475e1f96cbc82c0cd9ae1e
    background-color: #ffff;
    /* color de fondo de la pàgina*/

}

h1{
    color: #1F4E79;
    font-size:32px;
    text-align:center;
    
}



<<<<<<< HEAD

=======
>>>>>>> 248bbcd990e8cff6ff475e1f96cbc82c0cd9ae1e
