/* ESTUDIO LUZ CLARA */

/* VARIABLES Y CONFUGIRACIÒN
Una VARIABLE.guarda un valor con un nombre para probar reutilizarla */

/* Se declaran dentro :root; que representa el elemento html es el de todos */


:root{
    /* Paleta de colores */
     --color-tinta:#1a1a1a;/*texto principal */
     --color-scale:#cbcbcb;/*Texto secundario*/
     --color-marca:#2c3e50;/*El color del estudio*/
     --color-acento:#c87941;/*El color de los botones*/
     --color-acento-osc:#a45f2e; /*Terracota oscuro*/
     --color-fondo: #fafaf8;/*Color de fondo*/
     --color-fondo-alt:#f0cee9; /*Para alterar fondo secciones */
     --color-linea: #dddad3; /*Bordes y separadores*/
     --color-blanco:#ffffff; /*blanco y puro*/



/* TIPOGRAFIA */

--fuente-titulo:Georgia,hervetica,san serif;
--fuente-texto:'Segoe ul',Arial, san serif;


/* ESPACIADO CONVERSIÒN 1 REM = 10 PÌXELS*/
--es-sm:0.8rem;
--es-cm:
--es--md:24px;
--es-lg:4.0rem;
--es-al:8rem;

/* OTROS ELEMENTOS */
--radio:0.6rem;/*6px*/
--sombra-1:0.2rem 0.6rem rgba(0,0,0,.06);/*Apenas separado*/
--sombra-2:0.2rem 0.6rem rgba(0,0,0,.10);/*Tarjeta*/
--sombra-3:8rem 2.0rem rgba(0,0,0,.16);/*Elementos elevados*/
--transicion:0.25 ease;
--ancho-max:120rem/*1200px*/
}

/*RESET Y BASE TIPOGRÀFICA*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;/*La lìnea màs importante del reset, porque sin ella,si a una caja le damos un width 300px y ademàs un padding de 20px, y ademàs un border de 2px la caja en realidad mide 300+20+20+2+2= }44px. con esta linea el relleno y el border se descuentan hacia adentro. */
}

/* LA BASE DEL TAMAÑO. la tècnica del 62.5x100 */
html{
font-size:62.5%; /*Por omisiòn el navegador utiliza 16px para el tamaño ease*/
/*El 62.5 de 16px es exactamente 10*//*tiene que ver con accesibilidad tambièn, y la parte responsive*/

scroll-behavior: smooth/*Saltos suaves al usar navegaciòn con anclas*/;
}

body{
    font-size: 16px;/*1.6rem. Si no se agrega esta lìnea el texto no toma el valor de los 16px base y quedarìa un texto casi ilegible.*/
    font-family: var(--fuente-texto);
    line-height: 1.6;
    color: var(--color-tinta);
    background-color: var(--color-fondo);
    

}