*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    color:#4048d8;
    background-color:#f2f5ece3
}

h1{
    color:#1F4E79;
    font-size:32px;
    text-align:center;


}

/*Clase*/

.descatado{
    background-color: rgb(9, 175, 94);
    padding: 10px;
}

/*id + combinado*/
#Inicio{
    background-color: aqua;
    padding: 10px;

}

nav a{
    color: black;
    margin-right: 15px;
    transition: color 0.3;

}

/*:hover*/

nav a:hover{
    color: rgb(0, 179, 255);
}


/*:nth-child*/

tbody tr:nth-child(even){
    background-color: #4048d8;
}

/*pseudo elemento*/
article p::first-letter {
     font-size: 35px;
     font-weight: bold;

}

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.6;
}